python.env
.env
.env.*
DBconfig.env
config.json
secrets.json
auth0_config.json
auth0.env
nginx.conf
nginx/*.conf

__pycache__/
*.py[cod]
venv/
env/
.venv/
ENV/

build/
dist/
tmp/
logs/
*.log
*.pid
*.pid.lock

.vscode/
.idea/
.DS_Store
Thumbs.db

/Comic-Store-FrontEnd/node_modules
