version: "3.8"

services:
  backend:
    build: ./backend
    ports:
      - 5000:5000
    volumes:
      - ./backend:/app
    env_file:
      - ./backend/python.env
    environment:
      FLASK_ENV: development
      FLASK_APP: App.py

  frontend:
    build: ./Comic-Store-Frontend
    ports:
    - "3000:80"
    environment:
      REACT_APP_API_URL: http://backend:5000
    depends_on:
      - backend
